<div class="jumbotron">
  <div class="container">

    <h1 class="center">Welcome!</h1>
    <p class="center">This is a farm planning web application designed to help small farmers and gardeners generate a planting schedule, including a seperate greenhouse schedule, to manage the planting season.</p>
    <p class="center nobg"><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>

  </div>
</div>
